<div class="container mt-5 p-3" style="border:3px solid black;">
    <center>
        <h2>Student Info Register</h2>
    </center>
    <form method="POST" action="/users/studentReg" enctype="multipart/form-data">
        <label>First Name</label>
        <input class="form-control" type="text" name="firstname" required>

        <label>Middle Name</label>
        <input class="form-control" type="text" name="middlename">

        <label>Last Name</label>
        <input class="form-control" type="text" name="lastname" required>

        <label>Email</label>
        <input class="form-control" type="text" name="email" required>

        <label>Address</label>
        <input class="form-control" type="text" name="address" required>

        <label>College</label>
        <input class="form-control" type="text" name="college" required>

        <label>Faculty</label>
        <input class="form-control" type="text" name="faculty" required>

        <label>Image:</label>
        <input class="form-control" type="file" name="image" required>



        <center><button type="submit" class="btn btn-primary mt-1">Save</button></center>
    </form>
</div>